RewriteEngine On

RewriteCond %{REQUEST_URI} ^/system.*

RewriteRule ^(.*)$ index.php?/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d 

RewriteRule ^(.+)$ index.php?/$1 [L]

Header unset Pragma
FileETag None 
Header unset ETag

<FilesMatch "\.(js|css|jpg|png|jpeg|gif|xml|json|txt|pdf|mov|avi|otf|woff|ico|swf)$">
  	RequestHeader unset Cookie
	  Header unset Cookie
  	Header unset Set-Cookie
</FilesMatch>



