@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill{
  -webkit-text-fill-color: white !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.65;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* variables */
@font-face {
  font-family: 'MADE Tommy Soft';
  src: url(../font/MADE-Tommy-Soft-Medium-Outline-PERSONAL-USE.otf);
}

.font-ibm {
  font-family: 'IBM Plex Mono', sans-serif;
}

.font-made {
  font-family: 'MADE Tommy Soft', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 66px;
  line-height: 82px;
  letter-spacing: 0.05em;
}

.bg-lopr{
  background-color: #22B78F;
  filter: blur(125px);
}

.fnt-loto{
  color: #FFD100 !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fnt-prime{
  color: #14C2A3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fnt-go{
  color: #FF0800;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fnt-14 {
  font-size: 14px;
}

.fnt-15{
  font-size: 15px;
}

.fnt-17 {
  font-size: 17px;
}

.fnt-20, .font-20 {
  font-size: 20px;
}

.fnt-24{
  font-size: 24px;
}

.fnt-36{
  font-size: 36px;
}

.fnt-44{
  font-size: 44px;
}

.fnt-56{
  font-size: 56px;
}

@media (max-width: 530px) {
  .fnt-56{
    font-size: 40px;
  }
  .font-20 {
    font-size: 17px ;
  }
}

.fc-plex{
  color: #B9B9BF;
}

.bg-principal {
  background-color: #0C1226;
}

.bg-menu {
  background-color: #DD1823;
  z-index: 1;

}

.img-logoprime{
  max-width: 50%;
  height: auto;
}

.bg-secundario {
  background-color: #141A31;;
}

.bg-cb {
  background-color: rgba(34, 183, 143, 0.1);
  backdrop-filter: blur(20px);
  margin-top: -5px;
}

.btn-bord {
  color: white;
  border: 1px solid #14C2A3;
  border-radius: 0;
}

.btn-bord:hover {
  font-weight: 700;
  background-color: #14C2A3;
  color: black;
}

.nav-link.btn-bord {
  border: none;
}

.btn-color {
  color: black;
  font-weight: 700;
  background-color: #14C2A3;
  border-radius: 0;

}

.btn-color:hover {
  border: 1px solid #14C2A3;
}

.font-prin {
  color: #14C2A3;
  font-weight: 700;
}

.font-secun {
  color: #FFD300;
}

.font-terc {
  color: #06FF01;
}

.no-focus.nav-link:focus{
  color: white;
}

.bg-card-lp {
  background-color: rgba(34, 183, 143, 0.1);
}

.bg-color-cs {
  background-color: rgba(34, 183, 143, 0.1);
}

.bg-card-lp:hover {
  box-shadow: 0px 0px 32px rgba(34, 183, 143, 0.5);
  border: 1px solid #14C2A3;
}

.bg-card-ba{
  border: 2px solid rgba(34, 183, 143, 0.5);
}

.bg-card-ba:hover{
  box-shadow: 0px 0px 32px rgba(34, 183, 143, 0.5);
}

.bg-card-bac{
  background-color: rgba(34, 183, 143, 0.1);
  backdrop-filter: blur(10px);
}

.bg-card-bac:hover {
  border: 2px solid #14C2A3;
  box-shadow: 0px 0px 32px rgba(34, 183, 143, 0.5);
  backdrop-filter: blur(10px);
  scale: 102%;
}

.bg-nvl-prime{
  background-color: #1A1B21;
}

.card-nvl-inicio{
  background-color: #1A1B21;
  border-right: 1px solid grey !important;
  border-left: 1px solid grey !important;
  border-top: 1px solid grey !important;
  border-bottom: 1px solid grey !important;
 
}

.card-nvl-star{
  background-color: rgba(34, 183, 143, 0.1);
  border-right: 1px solid #14C2A3 !important;
  border-left: 1px solid #14C2A3 !important;
}

.card-nvl-prime{
  background-color: rgba(34, 183, 143, 0.1);
  border: 1px solid #14C2A3 !important;
  box-shadow: 0px 0px 32px rgba(34, 183, 143, 0.5) !important;
}

.bg-acc {
  background-color: rgba(34, 183, 143, 0.1);
  color: white;
}

.img-sub {
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #14C2A3;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 610px) {
  .carousel-inner {
    display: flex;
  }
  .scroll-up {
    width: 18px;
    height: 28px;
  }
  
}

@media (min-width: 1024px) {
  .carousel-inner {
    display: flex;
  }
}

.card .img-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  max-height: 100%;
}

.info-bs {
  color: white;
  border: 1px solid white;
  border-radius: 0;
  text-decoration: none;
  padding: 4px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

.info-bs:hover {
  color: inherit;
}

.color-giga, .color-giga:hover  {
  color: #c2bcbc;
}

.link-recuperar:hover {
  color: inherit;
  color: #14C2A3;
}

.brd-1{
  border: 1px solid #00FF29;
}

.brd-2, .btn-brd-2{
  border: 1px solid #FFE600;
  border-radius: 0;
}

.btn-brd-2:hover {
  background-color: #FFE600;
  color: black !important;
}

.brd-3{
  border: 1px solid #FF7426;
}

.brd-card-ba{
  border: 1px solid rgba(34, 183, 143, 0.5);
}

.brd-img-p {
  border: 1px solid #14C2A3;
}



label.error {
  display: block;
  color: red;
  opacity: 1 !important;
  transform: none !important;
  margin-top: 50px !important;
  white-space: normal;
}

.form-floating .error {
  margin-bottom: 50px !important;
}

@media (max-width: 980px) {
  .form-floating .error {
    margin-bottom: 55px !important;
  }

  label.error {
    padding: 10px;
  }
}

.mensaje label.error{
  margin-top: 150px !important;
}

.respconsulta label.error{
  margin-top: 6px !important;
}

.checkboxAlert label.error{
  margin-top: -25px !important;
}

.formCheck label[class="error"] {
  margin-top: 0px !important;
}


@media (max-width: 580px) {
  .recuperar-ps {
    margin-bottom: 14px;
  }
  
}

@media (max-width: 410px) {
  .info-bs {
    font-size: 12px;
  }
}

@media (max-width: 1090px) and (min-width: 1060px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 4vh;
    height: 4vh;
  }
}

.bg-shadow:hover {
  box-shadow: 0px 0px 32px rgba(34, 183, 143, 0.5);
  border: 1px solid #14C2A3;
}

.my-svg {
  filter: brightness(0) saturate(100%) invert(81%) sepia(29%) saturate(1%) hue-rotate(22deg) brightness(109%) contrast(87%);
} 

.my-svg:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(118deg) brightness(103%) contrast(102%);
} 

.btn-scroll-top {
  color: white;
  background-color: #14c2a3;
}

.btn-scroll-top:hover {
  background-color: #299582;
}

.decoration-hovernone:hover {
  text-decoration: none;
  color: white;
}


.mt-n1 {
  margin-top: -8px;
}

.mt-n2 {
  margin-top: -4px;
}

button.accordion-button.bg-color-cs.ocult-btn::after {
  display: none;
}


@media (min-width: 768px) {
  .no-pad-casos {
    padding-right: 13rem !important;
    padding-left: 13rem !important;
  }

  .font-siz-14 {
    font-size: 24px !important;
  }

  .arrow {
    zoom: 140%;
  }
}



.form-select {
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  -moz-padding-start: calc(.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #0c1226;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.arrow {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;
  margin: 0 1rem;
}
.arrow span {
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: #14c2a3;
  display: inline-block;
  transition: all 0.2s ease;
}
.arrow span:first-of-type {
  left: 0;
  transform: rotate(45deg);
}
.arrow span:last-of-type {
  right: 0;
  transform: rotate(-45deg);
}
.arrow.active span:first-of-type {
  transform: rotate(-45deg);
}
.arrow.active span:last-of-type {
  transform: rotate(45deg);
}
.modal-content{
  background: #141a31; 
}
.btn-color2{
    border: 1px solid #14c2a3;
    font-weight: 700;
}
.btn-color1{
    font-weight: 700;
    background-color: #14c2a3;
    border-radius: 0;
}